WindowsServiceConsume/Service References/ServiceReference1/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICalculator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWindowsService" />
      <xsd:import schemaLocation="http://localhost:8088/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Addition_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWindowsService" name="detail" element="q1:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtraction" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Subtraction_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWindowsService" name="detail" element="q2:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplication" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiplication_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWindowsService" name="detail" element="q3:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Division_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WcfWindowsService" name="detail" element="q4:ExceptionMessage" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Addition" message="tns:ICalculator_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/AdditionResponse" message="tns:ICalculator_Addition_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculator/AdditionExceptionMessageFault" name="ExceptionMessageFault" message="tns:ICalculator_Addition_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Subtraction" message="tns:ICalculator_Subtraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/SubtractionResponse" message="tns:ICalculator_Subtraction_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculator/SubtractionExceptionMessageFault" name="ExceptionMessageFault" message="tns:ICalculator_Subtraction_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Multiplication" message="tns:ICalculator_Multiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/MultiplicationResponse" message="tns:ICalculator_Multiplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculator/MultiplicationExceptionMessageFault" name="ExceptionMessageFault" message="tns:ICalculator_Multiplication_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculator/Division" message="tns:ICalculator_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculator/DivisionResponse" message="tns:ICalculator_Division_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICalculator/DivisionExceptionMessageFault" name="ExceptionMessageFault" message="tns:ICalculator_Division_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICalculator" type="tns:ICalculator">
    <wsp:PolicyReference URI="#NetTcpBinding_ICalculator_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Addition">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap12:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Subtraction">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Subtraction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap12:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Multiplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap12:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap12:operation soapAction="http://tempuri.org/ICalculator/Division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap12:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="NetTcpBinding_ICalculator" binding="tns:NetTcpBinding_ICalculator">
      <soap12:address location="net.tcp://localhost:8089/WcfWindowsService.Calculator" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8089/WcfWindowsService.Calculator</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/Mathavan</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>